<div class="category-container">
  <app-category name="Category 1"></app-category>
  <app-category name="Category 2"></app-category>
  <app-category name="Category 3"></app-category>
</div>

<div class="product-container">
  <app-product title="Product 1" description="Product description" [price]="10" [stock]="5"></app-product>
  <app-product title="Product 2" description="Product description" [price]="20" [stock]="0"></app-product>
  <app-product title="Product 3" description="Product description" [price]="30" [stock]="10"></app-product>
  <app-product title="Product 4" description="Product description" [price]="40" [stock]="3"></app-product>
</div>