<h2 mat-dialog-title>Add/Edit Product</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="dataProduct.title" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" [(ngModel)]="dataProduct.price" type="number" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="dataProduct.description" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(value)]="dataProduct.categoryId" required>
      <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()" [disabled]="!isFormValid">Save</button>
</div>
